@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212529;
  --primary-1: #043873;
  --primary-2: #4F9CF9;
  --secondary-1: #FFE492;
  --secondary-2: #A7CEFC;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-secondary-1: var(--secondary-1);
  --color-secondary-2: var(--secondary-2);

  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
